/* .cartData{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
} */

/* #cartData{
    display: flex;
} */

#cartlogo{
    border: "1px solid white";
    border-radius: "50%";
}

#productData{
    display: flex;
}
#panipuri{
    display: flex;
}
#panipuri div{
    color: white;
    margin-top: 150px;
}
#vegItem{
    /* margin-bottom: 10%; */
    margin-left: 15%;
    width: 280px;
    height: 330px;
    border: 2px solid white;
}

